

header {
    color: green;
    background-color: purple;
    text-align: center;
}

footer {
    color: yellow;
    background-color: blue;
    text-align: center;
}

h1{
    font-size: 70px;
}

p{
    font-size: 30px;
}